
:root {
    --border-color: #c0c0c0;
}

body {
    font-family: sans-serif;
    padding-top: 20px;
}

textarea {
    font-family: var(--vscode-editor-font-family);
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

textarea::-webkit-scrollbar {
    display: none;
}

button {
    border-radius: 0;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

button.selected.vscode-light {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

button.selected.vscode-dark {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

button.selected.vscode-high-contrast {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    outline: 2px solid var(--border-color);
}

.nl {
    display: block;
    padding-bottom: 3px;
}

.ta {
    width: 100%;
}

#container {
    display: grid;
    grid-template-columns: 58% 42%;
}

.col1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.col2 {
    grid-column-start: 2;
    grid-column-end: 2;
}

.col-all {
    grid-column-start: 1;
    grid-column-end: 3;
}

.section-header {
    display: block;
}

.section {
    padding-bottom: 15px;
    padding-right: 20px;
}

.selected {
    background-color: #c0c0ff;
    color: var(--vscode-editor-background);
}

.switchpanel {
    font-family: monospace;
    font-weight: bold;
}

.switch {
    border: 1px solid var(--border-color);
}

.regex-panel table {
    width: 100%;
    border: none;
}

#regex {
    height: 16px;
    padding: 4px;
    white-space: pre;
    grid-row: 1;
    font-family: var(--vscode-editor-font-family);
    font-size: 11px;
}

#search {
    padding: 4px 0 4px 4px;
    height: 100px;
    overflow: auto;
    font-family: var(--vscode-editor-font-family);
    font-size: 11px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    white-space: pre;
    grid-row: 2;
}

#replacement {
    padding: 4px;
    height: 100px;
    overflow: auto;
    font-family: var(--vscode-editor-font-family);
    font-size: 11px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    white-space: pre;
    grid-row: 1;
}

#replaced {
    padding: 4px;
    height: 100px;
    overflow: auto;
    font-family: var(--vscode-editor-font-family);
    font-size: 11px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    white-space: pre;
    grid-row: 2;
}

#splitresults {
    font-family: var(--vscode-editor-font-family);
    font-size: 11px;
    height: 150px;
    grid-row: 3;
}

#results {
    padding: 4px;
    height: 150px;
    font-family: var(--vscode-editor-font-family);
    font-size: 11px;
    outline: 1px solid var(--border-color);
    overflow-y: scroll;
    grid-row: 3;
}

#results::-webkit-scrollbar {
    display: none;
}

#results table {
    border-collapse: collapse;
    border-spacing: 0;
}

#results td:first-child {
    padding-left: 20px;
}

#results td.bold {
    font-weight: bold;
    padding-left: 0px;
    text-decoration: underline;
}

#results th {
    font-weight: normal;
    color: gray;
    text-align: left;
    padding-top: 5px;
}

#splitresults {
    height: 150px;
    font-family: var(--vscode-editor-font-family);
    outline: 1px solid var(--border-color);
    overflow: scroll;
    white-space: pre;
}

.folder {
    float: right;
    cursor: default;
    border: 1px solid var(--border-color);
    font-size: 0.8em;
    padding: 0 2px 0 2px;
}

.folder:active {
    background-color: var(--vscode-button-background);
}

.lines {
    width: 25px !important;
    margin-right: 3px !important;
}