
body {
    font-family: sans-serif;
    padding-top: 20px;
}

textarea {
    font-family: var(--vscode-editor-font-family);
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

button {
    border-radius: 0;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

button.selected.vscode-light {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

button.selected.vscode-dark {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

button.selected.vscode-high-contrast {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    outline: 2px solid var(--vscode-editor-foreground);
}

.ta {
    width: 85%;
}

.section-header {
    display: block;
}

.section {
    padding-bottom: 20px;
}

.selected {
    background-color: #c0c0ff;
    color: var(--vscode-editor-background);
}

.switchpanel {
    font-family: monospace;
    font-weight: bold;
}

.switch {
    border: 1px solid gray;
}

#regex {
    height: 16px;
}

#search {
    height: 100px;
}

#replacement {
    height: 100px;
}

#replaced {
    height: 100px;
}

#results {
    height: 150px;
}

#splitresults {
    height: 150px;
}